.flex.my-8
  .ml-auto.mr-auto{ class: 'w-2/3' }
    %h1 Profile

.flex.my-8
  .ml-auto.mr-auto{ class: 'w-2/3' }
    .flex.mb-8
      %div{ class: 'w-1/3' }
        .flex.flex-wrap.text-center
          .w-full.text-3xl
            = @user.decorate.display_releases_count
          .w-full.text-xs.text-gray-500.tracking-wide
            = 'release'.pluralize(@user.decorate.display_releases_count)
      %div{ class: 'w-1/3' }
        .flex.flex-wrap.text-center
          .w-full.text-3xl
            .currency-dollar
              = @user.decorate.display_estimated_total_worth
          .w-full.text-xs.text-gray-500.tracking-wide
            Estimated total worth
      %div{ class: 'w-1/3' }
        .flex.flex-wrap.text-center
          .w-full.text-3xl
            .currency-dollar
              = @user.decorate.display_most_valuable_release
          .w-full.text-xs.text-gray-500.tracking-wide
            Most valuable release

    .flex
      .w-full.py-8.border-t.border-b
        .flex.discogs-token
          - if @user.discogs_token.blank?
            .w-full
              In order to use the search functionality, you need to
              = link_to 'configure your discogs token', edit_discogs_token_path
          - else
            %div{ class: 'w-1/3' }
              Your discogs token
            %div{ class: 'w-1/3' }
              .w-full
                %pre= @user.discogs_token
                = render 'users/discogs_token_status', user: @user

            .text-right{ class: 'w-1/3' }
              = link_to 'Set token', edit_discogs_token_path, class: 'green-button'
