.flex.m-8
  .w-full.ml-auto.mr-auto
    %h1 Profile

.flex.flex-wrap.m-8{ class: 'md:flex-row' }
  .mb-6{ class: 'w-1/2' }
    .flex.flex-wrap.text-center
      .w-full.text-3xl
        = @user.decorate.display_releases_count
      .w-full.text-xs.text-gray-500.tracking-wide
        = 'release'.pluralize(@user.decorate.display_releases_count)
  .mb-6{ class: 'w-1/2' }
    .flex.flex-wrap.text-center
      .w-full.text-3xl
        .currency-dollar
          = @user.decorate.display_estimated_total_worth
      .w-full.text-xs.text-gray-500.tracking-wide
        Estimated total worth
  .mb-6{ class: 'w-1/2' }
    .flex.flex-wrap.text-center
      .w-full.text-3xl
        .currency-dollar
          = @user.decorate.display_most_valuable_release
      .w-full.text-xs.text-gray-500.tracking-wide
        Most valuable release

.border-t

.flex.m-8.discogs-token
  .w-full.ml-auto.mr-auto
    - if @user.discogs_token.blank?
      In order to use the search functionality, you need to
      = link_to 'configure your discogs token', edit_discogs_token_path
    - else
      .flex.flex-col
        .flex-1.mb-2.text-gray-500.text-xs Your discogs token
        .flex-1.mb-4
          %input.text-sm.font-mono.border.w-full.p-2.mb-1.bg-blue-100{ readonly: :readonly, value: @user.discogs_token }
          = render 'users/discogs_token_status', user: @user
        .flex-1
          = link_to 'Set token', edit_discogs_token_path, class: 'green-button w-full'
