.flex.my-8
  .ml-auto.mr-auto{ class: 'w-1/6' }
    %h1.text-2xl Sign up

.flex
  .ml-auto.mr-auto{ class: 'w-1/6' }
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .flex.bg-gray-100.border.border-gray-300
        .w-full.m-4
          .flex.mb-4
            .w-full
              = f.label :email
              = f.email_field :email,
                              autofocus: true,
                              autocomplete: 'email',
                              class: 'w-full'
          .flex.mb-4
            .w-full
              = f.label :password
              = f.password_field :password,
                                 autocomplete: 'new-password',
                                 class: 'w-full'
              - if @minimum_password_length
                .text-xs.text-gray-500= "#{@minimum_password_length} characters minimum"

          .flex.my-6
            .w-full
              = f.submit 'Sign up', class: 'green-button w-full'
          .flex.mt-6
            .w-full
              = render 'devise/shared/links'
