.flex.mx-4.my-8
  .w-full
    %h1 Search result

.flex.mt-10
  .w-full
    - search.results.each do |item|
      .flex.border-b.px-4
        .w-full
          .flex
            %div{ class: 'w-1/6' }
              .flex
                .w-full
                  - if item.thumb.present?
                    = image_tag item.thumb, height: '100', alt: "Cover for #{item.title}", class: 'w-full'
                  - else
                    .no-image


            .pl-6{ class: 'w-5/6' }
              .flex
                .w-full.text-blue-700.text-xs
                  = item.label.join(', ')
                  = "(#{item.catno})"
              .flex.my-2
                .w-full= item.title
              .flex.my-2
                .w-full.text-gray-500.text-xs
                  = item.year
                  |
                  = item.country
                  |
                  = item.genre.join(', ')
                  |
                  = item.format.join(', ')
              .border-t.my-3.border-gray-200
              .flex
                .w-full.text-xs
                  = "Discogs ID: #{item.id}"
                  = raw "(#{link_to 'API', item.resource_url, class: 'weak-link' })"
              .flex.my-2
                .w-full.text-xs
                  .text-gray-500.inline Have / Want
                  .inline.ml-1
                    = "#{item.community['have']} / #{item.community['want']}"

              .flex.my-8
                .w-full
                  = form_with(model: Release.new(discogs_release_id: item.id)) do |f|
                    = f.hidden_field :discogs_release_id
                    = f.submit 'Add to library', class: 'green-button'


