%h1 Search result

- if @result.any?
  %table
    %thead
      %tr
        %th Barcode
        %th Catno
        %th Have/Want
        %th Country
        %th Image
        %th Genre
        %th ID
        %th Resource URL
        %th Label
        %th Title
        %th Year

    %tbody
      - @result.each do |item|
        %tr
          %td= item.barcode.join(', ')
          %td= item.catno
          %td= "#{item.community['have']}/#{item.community['want']}"
          %td= item.country
          %td
            = image_tag item.thumb, height: '100', alt: "Cover for #{item.title}"
          %td= item.genre.join(', ')
          %td= item.id
          %td= item.resource_url
          %td= item.label.join(', ')
          %td= item.title
          %td= item.year
          %td
            = form_with(model: Release.new(discogs_id: item.id)) do |f|
              = f.hidden_field :discogs_id
              = f.submit 'Add to library'
