.flex.my-8
  .ml-auto.mr-auto{ class: 'w-1/5' }
    %h1.text-2xl Change your password

.flex
  .ml-auto.mr-auto{ class: 'w-1/5' }
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      .flex.bg-gray-100.border.border-gray-300
        .w-full.m-4
          .flex.mb-4
            .w-full
              = f.label :password, "New password"
              = f.password_field :password,
                                 autofocus: true,
                                 autocomplete: 'new-password',
                                 class: "w-full #{resource.errors.key?(:password) ? 'has-error' : nil}"
              - if @minimum_password_length
                .text-gray-500.text-xs= "#{@minimum_password_length} characters minimum"
              - resource.errors.full_messages_for(:password).each do |message|
                .text-xs.text-red-400= message
          .flex.my-6
            .w-full
              = f.hidden_field :reset_password_token
              = f.submit 'Change my password', class: 'green-button w-full'
          .flex.mt-6
            .w-full
              = render 'devise/shared/links'
