.flex.m-8
  .w-full
    %h1.text-2xl Sign in

.flex
  .ml-auto.mr-auto.w-full
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .flex.bg-gray-100
        .w-full.m-8
          .flex.mb-4
            .w-full
              = f.label :email
              = f.email_field :email,
                              autofocus: true,
                              autocomplete: 'email',
                              placeholder: 'pete@rock.com',
                              class: "w-full #{resource.errors.key?(:email) ? 'has-error' : nil}"
              - resource.errors.full_messages_for(:email).each do |message|
                .text-xs.text-red-400= message
          .flex.mb-4
            .w-full
              = f.label :password
              = f.password_field :password,
                                 autocomplete: 'current-password',
                                 placeholder: 'yourmomma',
                                 class: "w-full #{resource.errors.key?(:password) ? 'has-error' : nil}"
              - resource.errors.full_messages_for(:password).each do |message|
                .text-xs.text-red-400= message
          .flex.my-6
            .w-full
              = f.submit 'Sign in',
                         class: 'green-button w-full'
          .flex.mt-6
            .w-full
              = render 'devise/shared/links'
