
.flex.my-8
  .ml-auto.mr-auto{ class: 'w-2/3' }
    = link_to 'Add release', new_release_path, class: 'green-button float-right'
    %h1 Releases

- @releases.each do |release|
  .flex.border-b.py-8
    %div{ class: 'w-2/3 ml-auto mr-auto' }
      .flex
        %div{ style: 'width: 150px; ' }
          - if release.discogs_cover_thumb_url.present?
            = image_tag release.discogs_cover_thumb_url
          - else
            .no-image
        .w-full
          .flex.ml-8
            .w-full
              .flex.mb-1
                .w-full.text-blue-800.text-sm
                  %span= release.artist

              .flex
                .w-full.text-3xl
                  %span= release.name
              .flex
                .w-full.text-xs
                  %span.text-gray-500= release.label
                  \/
                  %span.text-gray-500= "(#{release.catalog_number})"
                  \/
                  - if release.year.to_i > 0
                    %span.text-gray-500= release.year
                    \/
                  %span.text-gray-500= release.genre
                  \/
                  %span.text-gray-500= release.format_quantity

              .flex
                .w-full
                  - if release.discogs_id.nil?
                    .text-gray-500 No Discogs data

                  -else
                    = link_to 'Discogs', release.discogs_uri
                    = raw "(#{link_to 'API', release.discogs_api_resource_url, class: 'weak-link' })"
                    %div Have / Want / Sale
                    = "#{release.discogs_community_have} / #{release.discogs_community_want} / #{release.discogs_number_for_sale}"
                    %div Lowest price
                    = "$ #{release.discogs_lowest_price}"
