
.flex.my-8
  .ml-auto.mr-auto{ class: 'w-2/3' }
    = link_to 'Add release', new_release_path, class: 'green-button float-right'
    %h1 Releases

- @releases.each do |release|
  .flex.border-b.py-8
    %div{ class: 'w-2/3 ml-auto mr-auto' }
      .flex
        %div{ style: 'width: 150px; ' }
          - if release.discogs_cover_thumb_url.present?
            = image_tag release.discogs_cover_thumb_url
          - else
            .no-image
        .w-full
          .flex
            .px-8{ class: 'w-full' }
              .flex.mb-2
                .w-full.text-blue-800.text-sm= release.artist

              .flex.mb-2
                .w-full.text-3xl= release.name

              .flex
                .w-full.text-xs= release.decorate.display_facts

            .px-8.border-l.border-r{ class: 'w-1/3' }
              .flex
                .w-full.text-gray-300 TBD

            .pl-8{ class: 'w-1/6' }
              .flex.h-full
                .w-full
                  - if release.discogs_id.nil?
                    .text-gray-500.text-right.text-xs No Discogs data
                  -else
                    .flex.text-right.flex-wrap
                      .w-full.mb-2
                        = link_to 'Discogs', release.discogs_uri
                        = raw "(#{link_to 'API', release.discogs_api_resource_url, class: 'weak-link' })"
                      .w-full.mb-2
                        .text-xs.text-gray-500 Have / Want / Sale
                        = "#{release.discogs_community_have} / #{release.discogs_community_want} / #{release.discogs_number_for_sale}"
                      .w-full
                        .text-xs.text-gray-500 Lowest price
                        - if release.discogs_lowest_price.to_f > 0
                          .text-lg.font-bold.tracking-wide= "$ #{release.discogs_lowest_price}"
                        - else
                          .text-gray-800 n/a
