.mx-4.mt-8
  %h1 Add release

.mx-4.my-8
  = form_with(model: @release) do |f|
    .flex.mb-8
      .pr-1{ class: 'w-1/6' }
        = f.label :label
        = f.text_field :label,
                       class: 'w-full shadow',
                       placeholder: 'Ninja Tune',
                       list: 'labels-list'

        %datalist#labels-list
          = options_for_select Release.distinct(:label).order(:label).pluck(:label)

      .pr-1{ class: 'w-1/12' }
        = f.label :catalog_number, 'Catalog #'
        = f.text_field :catalog_number, class: 'w-full shadow', placeholder: 'ABC 123'

    .flex.mb-8
      .pr-1{ class: 'w-1/6' }
        = f.label :artist, 'Artist (*)'
        = f.text_field :artist,
                       class: "w-full shadow #{@release.errors.key?(:artist) ? 'has-error' : nil}",
                       placeholder: 'Bonobo',
                       list: 'artists-list'
        - @release.errors.full_messages_for(:artist).each do |message|
          .text-xs.text-red-400= message

        %datalist#artists-list
          = options_for_select Release.distinct(:artist).order(:artist).pluck(:artist)

      .pr-1{ class: 'w-1/6' }
        = f.label :name, 'Release name (*)'
        = f.text_field :name,
                       class: "w-full shadow #{@release.errors.key?(:artist) ? 'has-error' : nil}",
                       placeholder: 'Black Sands'
        - @release.errors.full_messages_for(:name).each do |message|
          .text-xs.text-red-400= message

    .flex.mb-8
      .pr-1{ class: 'w-1/12' }
        = f.label :year
        = f.text_field :year, class: 'w-full shadow', placeholder: '2010'
      .pr-1{ class: 'w-1/6' }
        = f.label :genre
        = f.text_field :genre,
                       class: 'w-full shadow',
                       placeholder: 'Electronic'
      .pr-1{ class: 'w-1/12' }
        = f.label :format_quantity
        = f.number_field :format_quantity, min: 1, step: 1, class: 'w-full shadow', placeholder: '2'

    .flex.mt-12
      .w-full
        = f.submit 'Add release', class: 'green-button'
        = link_to 'Cancel', releases_path, class: 'text-sm ml-4 weak-link'

