!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Vdb
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
  %body
    - if offline_mode?
      .bg-yellow-500.text-gray-900.text-xs.text-center offline mode
    %div
      %nav.pl-4
        = link_to 'Releases', releases_path, class: 'nav-link'
        .float-right
          = render 'search/form'
    %div
      = yield
